@model BakeMyWorld.Website.Data.Entities.Category

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

<link rel="stylesheet" href="~/css/components/category-components.css" />
<h1 class="text-center main-content">@Html.DisplayFor(model => model.Name)</h1>
<div class="h-container align-items-to-flex-start main-content">
    <div class="v-container category-list-container">
        <ul>
            @foreach (var category in ViewBag.Categories)
            {
                <li>
                    <a asp-area="" asp-route="categorydetails" asp-route-urlSlug="@category.UrlSlug">
                        @category.Name
                    </a>
                </li>
            }
        </ul>
        <div class="emergency-contact-container">
            <p>For a cake emergency</p>
            <p>call our stores</p>
            <p>PRIMROSE HILL STORE</p>
            <p>02074834222</p>
            <p>WhatsApp</p>
            <p>078 0227 5205</p>
        </div>
    </div>

    <div class="grid-container product-grid">

        @foreach (var cake in Model.Cakes)
        {
            <a asp-route="cakedetails" asp-route-urlSlug="@cake.UrlSlug">
                <div class="product-container">
                    <img class="product-img"
                         src="@cake.ImageUrl"
                         alt="product" />
                    <div class="h-container justify-content-between">
                        <span class="product-name">@cake.Name</span>
                        <span class="product-name">@cake.Price SEK</span>
                    </div>
                </div>
            </a>
        }
    </div>
</div>




