@model BakeMyWorld.Website.Data.Entities.Cake


@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}


<link rel="stylesheet" href="~/css/components/product-components.css" />

<h1 class="product-name">@Html.DisplayFor(model => model.Name)</h1>
<h5 class="product-name">@Html.DisplayFor(model => model.Description)</h5>

<div class="h-container main-content justify-content-center align-items-to-flex-start">
    <div class="v-container product-shots-container">
        @for (int i = 0; i < 3; i++)
        {
            <div class="product-shots">
                <img src="@Html.DisplayFor(model => model.ImageUrl)"
                     alt="product-shot" />
            </div>
        }
    </div>

    <div class="v-container main-product-shot-container">
        <div class="main-product-shot">
            <img src="@Html.DisplayFor(model => model.ImageUrl)"
                 alt="large-product-shot" />
        </div>
    </div>

    <div class="v-container order-instructions-container">
        <h5 class="instruction-title">Order Instructions</h5>
        <p class="instructions">
            Choose the size and the amount of items you would like to purchase
            and add to the basket to move to the next step.
        </p>
        
        <div class="v-container parameters-container">
            <div>
                <label for="cake-size">Cake size:</label>
                <select name="cake-size" id="cake-size">
                    <option value="Mini">Mini</option>
                    <option value="Medium">Medium</option>
                    <option value="Big">Big</option>
                    <option value="Enormous">King Size</option>
                </select>
            </div>

            
            <div>
                <p class="instructions">Price: @Html.DisplayFor(model => model.Price) SEK</p>
            </div>
            
            <div class="purchase-button-container">
                <form asp-route="AddToCart" method="post">
                    <input type="hidden" name="cakeId" value="@Model.Id"/>
                    <button class="purchase-button">
                        Add To Cart <i class="material-icons">shopping_cart</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
