@model IEnumerable<BakeMyWorld.Website.Data.Entities.Cake>

@{
    ViewData["Title"] = "Cakes Selection";
}

<h1>Search Results: </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Cakes" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Cakes" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Cakes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
